# OpenOCD config for Xilinx Artix-7 via FTDI
# Cable PID: 0x0013 (IMPORTANT!)
adapter driver ftdi
adapter speed 1000
ftdi_vid_pid 0x03fd 0x0013
reset_config none
transport select jtag

# XC7A100T JTAG tap
jtag newtap xc7a100t tap -irlen 6 -expected-id 0x0372e093
target create xc7a100t.cpu testee -chain-position xc7a100t.tap

init
pld load 0 /work/quantum_bridge_violation.bit
shutdown
